<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Warren</title>
    <link rel="icon" href="/images/icon.png" />

    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">


  </head>

  <header>
    <nav id="menu">
      <ul>
      <li><img src="/images/logo.png" width="140px" height="140px"></li>

      <li><a href="/rabbit-rescue" class="menu-item">  All Bunnies</a></li>
      <li><a href="/rabbit-rescue/ready-to-adopt" class="menu-item">  Ready to Adopt</a></li>
      <li><a href="/rabbit-rescue/not-ready" class="menu-item">  Not Ready for Adoption</a></li>
      <li><a href="/rabbit-rescue/by-breed" class="menu-item">  By Breed</a></li>
      <li><a href="/rabbit-rescue/owners" class="menu-item">  Owners</a></li>
      <li><a href="/rabbit-rescue/register-bunny" class="menu-item">  Register Bunny</a></li>
      <li><a href="/rabbit-rescue/register-owner" class="menu-item">  Register Owner</a></li>
      </ul>
    </nav>
    </header>

    <body>


         <%= yield %>




  </body>
</html>
