<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Warren</title>
    <link rel="icon" href="/images/icon.png" />

    <link rel="stylesheet" type="text/css" href="/styles/structure.css">

  </head>

  <header>
    <nav id="menu" class="header">
      <img src="/images/logo.png" width="100px" height="100px">
      <a href="/rabbit-rescue">All Bunnies</a>
      <a href="/rabbit-rescue/ready-to-adopt">Ready to Adopt</a>
      <a href="/rabbit-rescue/not-ready">Not Ready for Adoption</a>
      <a href="/rabbit-rescue/by-breed">By Breed</a>
      <a href="/rabbit-rescue/owners">Owners</a>
      <a href="/rabbit-rescue/register-bunny">Register Bunny</a>
      <a href="/rabbit-rescue/register-owner">Register Owner</a>

    </nav>
    </header>

    <body>
    <%= yield %>



  </body>
</html>
