<% @animals.each do |animal|  %>
  <% if animal.ready_to_adopt == "f" %>
    <p>Name: <%= animal.animal_name %></p>
    <p>Breed: <%= animal.breed %></p>
    <p>Age: <%= animal.age %></p>
    <p>Admission date: <%= animal.admission_date %></p>
  <hr />
  <% end %>
<% end %>
