<form method="post" action="/rabbit-rescue">

  <div class="form-wrap">
  <div class="form-item">
  <label for="first-name-field">First Name:</label>
  <input type="text" name="first_name" id="first-name-field" />
  </div>

  <div class="form-item">
  <label for="last-name-field">Last Name:</label>
  <input type="text" name="last_name" id="last-name-field" />
  </div>

  <div class="form-item">
  <input type="submit" value="Register Owner">
  </div>

  </div>

</form>
