<form method="post" action="/rabbit-rescue">
<label for="name-field">Name:</label>
<input type="text"
 name="animal_name"
 id="name-field"
 />

 <label for="breed-field">Select breed:</label>
   <select name="breed" id="breed-field">
     <option value="Angora">Angora</option>
     <option value="Belgian Hare">Belgian Hare</option>
     <option value="Californian">Californian</option>
     <option value="Continental Giant">Continental Giant</option>
     <option value="Dutch">Dutch</option>
     <option value="English Lop">English Lop</option>
     <option value="Flemish Giant">Flemish Giant</option>
     <option value="French Lop">French Lop</option>
     <option value="Harlequin">Harlequin</option>
     <option value="Lionhead">Lionhead</option>
     <option value="Mini-lop">Mini-lop</option>
     <option value="Netherland Dwarf">Netherland Dwarf</option>
     <option value="Rex">Rex</option>
   </select>


 <label for="admission-date-field">Admission date:</label>
 <input
 type="text"
 name="admission_date"
 id="admission-date-field"
 />

 <label for="adoption-status">Ready for adoption?</label>
 <select name="status" id="adoption-status">
     <option value="Yes">Yes</option>
     <option value="No" selected>No</option>
 </select>

 <label for="assign-owner">Owner</label>
  <select name="owner_id" id="assign-owner">
    <option value="" >None</option>
    </select>

 <input type="submit" value="Register Bunny">

</form>
