<form method="post" action="/rabbit-rescue/register-bunny">
<label for="name-field">Name:</label>
<input type="text"
 name="animal_name"
 id="name-field"
 />

<label for="breed-field">Breed:</label>
<input type="text"
 name="animal_breed"
 id="breed-field"
 />

 <label for="admission-date-field">Admission date:</label>
 <input
 type="text"
 name="admission_date"
 id="admission-date-field"
 />

 <label for="adoption-status">Ready for adoption?</label>
 <select name="status" id="adoption-status">
     <option value="Yes">Yes</option>
     <option value="No" selected>No</option>
 </select>

 <label for="assign-owner">Owner</label>
  <select name="owner_id" id="assign-owner">
    <option value="None">None</option>
    </select>

 <input type="submit" value="Register Bunny">

</form>
