/* html {
  background: url('/images/warren-background.png') no-repeat center center fixed;
} */

/* header {
  background-color: #fc9d03;
  position: fixed;
  width: 100%;
  height:60px;
  top: 0px;
  right: 0px;
  z-index: 2;
} */

ul {
 list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: #fc9d03;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto;
  top: 0px;
  left: 0px;
}


.menu {
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  left: 5px;
}

.container {
  background: url('/images/warren-background.png') no-repeat center center fixed;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-left: 150px;
}

.image {
  width: 200px;
  height: 160px;
}
